<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:fragment="head">
			<title>Pizzeria Brinezia</title>
			<!--Required meta tags-->
			<meta charset="utf-8">
			  <meta name="viewport" content="width=device-width, initial-scale=1">
			  
			<!--Bootsrap CSS-->
			<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
			<link rel="stylesheet" th:href="@{/css/style.css}"/>
			
			<!--Google font-->
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lexend+Giga:wght@100..900&display=swap" rel="stylesheet">
			
			
			
		</th:block>
	</head>