<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<nav>
		<th:block  th:fragment="navbar">
			<nav class="navbar navbar-expand-lg">
			  <div class="container-fluid" >
				<a class="navbar-brand" href="#">
							      <img th:src="@{/img/pizzapixel.gif}" alt="Logo" width="48" height="48" class="d-inline-block align-text-center mb-2">
							      <span class="" id="bar">Pizzeria Brinezia</span> 
							    </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link fntTxt" aria-current="page" th:href="@{/}">Home</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link fntTxt" th:href="@{/pizzas}">Le nostre pizze</a>
			        <li class="nav-item">
			          <a class="nav-link fntTxt ">Contatti</a>
			        </li>
			      </ul>
			      <form th:action="@{/pizzas}"  method="get" class="d-flex" role="search">
			        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="name">
			        <input class="btn fntTxt butt" type="submit">
			      </form>
			    </div>
			  </div>
			</nav>
			
		</th:block>
	</nav>