<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/head-fragment :: head}")>
	</head>
	
	<body>
	<header th:insert="~{fragments/navbar-fragment :: navbar}"></header>	
	
	<main class="container mt-5">
		
		<h1 class="text-center">LA NOSTRA STORIA</h1>
		<p class="text-center">		Attiva dal 2018, la pizzeria Brinezia offre una vasta scelta di pizze classiche e speciali. 
		Nel nostro ristorante usiamo solo ingredienti provenienti da realtà locali a km 0, e variamo il nostro menu in base alle verdure di stagione.</p>
		
		
	</main>
	
	<footer th:insert="~{fragments/footer-fragment :: footer}"></footer>
	</body>
</html>