<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="~{fragments/head-fragment :: head}" >
		
	</head>
	<body>
		<header th:insert="~{fragments/navbar-fragment :: navbar}">
			
		</header>
		<main>
		<div class="container text-center">
			<div class=" justify-content-center ">
			  
					<img th:src="${pizzas.image}" class="mt-5"alt="..." height="300px">
			     
			        <h5 th:text="${pizzas.name}" ></h5>
			        <p th:text="${pizzas.description}" ></p>
					<thblock th:if="${pizzas.ingredients.size()} > 0" >
					<h6>Ingredienti aggiuntivi:</h6>
					<ul th:each="ingredient : ${pizzas.ingredients}">
						<li th:text="${ingredient.name}"></li>
					</ul>
					</thblock>
					<p th:text="${pizzas.price} +'€'" ></p>
					<thblock th:each="offerts : ${pizzas.offerts}" class="justify-text-center">
						
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Su questa pizza è attiva l'offerta " [[${offerts.offertTitle}]] ". L'offerta è valida dal [[${offerts.whenStart}]] e scadrà il [[${offerts.whenStart}]]</li>
						</ul>
						
					</thblock>
					<a href="#" class="btn order mb-3">Ordina</a>
					<a th:href="@{/ingredients/index}" class="btn order mb-3">Aggiungi ingredienti</a>
					<a th:href="@{/pizzas/edit/{id}(id=${pizzas.id})}" class="btn order mb-3">Modifica</a>
					<form class="d-inline-block" th:action="@{/pizzas/delete/{id}(id=${pizzas.id})}" method="post">
					<button type="submit" class="btn order mb-3" onclick="return confirm('Vuoi davvero eliminare questa pizza?')">Elimina</button>
				   </form>
			        <a th:href="@{/pizzas}" class="btn order mb-3">Torna indietro</a>
					
			      
			    </div>
			</div>
		</div>
		
		</main>
		<footer th:insert="~{fragments/footer-fragment :: footer}"></footer>
	</body>